<aside class="g g-sm-8">
	<h2>Layout</h2>
	<ul>
		<li><a href="#">Grid</a></li>
		<li><a href="#">Layout</a></li>
		<li><a href="#">Media</a></li>
	</ul>
	<h2>Libraries</h2>
	<ul>
		<li><a href="#">Center</a></li>
		<li><a href="#">Clearfix</a></li>
		<li><a href="#">Colors</a></li>
		<li><a href="#">Dimensions</a></li>
		<li><a href="#">Grid</a></li>
		<li><a href="#">Icons</a></li>
		<li><a href="#">Lib</a></li>
		<li><a href="#">Mq</a></li>
		<li><a href="#">Position</a></li>
		<li><a href="#">Size</a></li>
		<li><a href="#">Truncate</a></li>
	</ul>
	<h2>Utilities</h2>
	<ul>
		<li><a href="#">Dimensions</a></li>
		<li><a href="#">Display</a></li>
		<li><a href="#">Text</a></li>
	</ul>
</aside>