<h2 id="layout">Layout</h2>
<p>To create the structure of your page Gulp Plate provides you with some predefined helper classes. To better recognize them all layout classes are prefixed with <code>.l-</code>.</p>
<h3 id="sections">Sections</h3>
<p>You can divide pages in different sections. To create a section use the following markup:</p>
<pre><code class="lang-html">&lt;section class=&quot;l-section&quot;&gt;
    ...
&lt;/section&gt;
</code></pre>
<h3 id="containers">Containers</h3>
<p>To center the content inside a section use a <code>.l-container</code> class.</p>
<pre><code class="lang-html">&lt;section class=&quot;l-section&quot;&gt;
    &lt;div class=&quot;l-container&quot;&gt;
        ...
    &lt;/div&gt;
&lt;/section&gt;
</code></pre>
<h3 id="grid">Grid</h3>
<p>The grid system has 24 columns with 30px gutters by default. All grid classes are prefixed with a <code>.g-</code> class.</p>
